.countdown {
    margin: 1rem;
    font-size: 1rem;
    color: var(--text-h);
    transition: 0.2s;
    font-family: "Century Gothic", "URW Gothic", "Futura", sans-serif;
}

.countdown.active {
    font-size: 1.4rem;
    color: var(--red);
}
