.seconds-countdown {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--gold);
}

.seconds-countdown.active {
    color: var(--red);
}

.number {
    display: inline-block;
    animation: pop-in 1s ease-in-out forwards;
}

@keyframes pop-in {
    from {
        transform: scale(0.0);
        opacity: 0;
    }
    60% {
        transform: scale(1);
        opacity: 1;

    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}